.side-contents
  .side-header
    .side-header__box
      .side-header__box__user-name
        kari
      .side-header__box__menu
        %a{ href:  '#'}
          =icon('far', 'edit') 
        %a{ href:  '#'}
          = icon('fas', 'cog')
  .side-groups
    .group
      .group__name
        group
      .group__message
        message
    .group
      .group__name
        group
      .group__message
        message